.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.head {
  font-family: var(--font-reenie-beanie);
}

.answer_container {
  background-color: black;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  margin: 1rem auto;
  cursor: pointer;
}

.answer {
  color: white;
  letter-spacing: 3px;
}

.subtract,
.add {
  background-color: black;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 3rem;
  font-family: var(--font-reenie-beanie);
  margin: 1rem;
  cursor: pointer;

}

.plus_minus {
  /* background-color: blanchedalmond; */
  width: fit-content;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.burger_container {
  font-family: var(--font-reenie-beanie);
}

.burger_num {
  font-size: 3rem;
}

.burgerNum_container {
  width: 3rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  border: 1px solid rgb(157, 157, 157);
}

.button_AddCheese {
  background-color: rgb(255, 234, 79);
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-family: var(--font-francois-one);
  font-size: 1.5rem;
  border-radius: 50px;
  border: solid rgb(0, 0, 0) 2px;
  cursor: pointer;

}

.addThing{
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-family: var(--font-francois-one);
  font-size: 1.5rem;
  border-radius: 50px;
  border: solid rgb(0, 0, 0) 2px;
  cursor: pointer;
}